.bg-brownish{
    background-color: #330033;
    font-size: 50px;
    color: antiquewhite;
}

.contentstyling{
    background-color: #330033;
    color: antiquewhite;
    font-size: 20px;
    word-spacing: 13%;
}

